*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    width: 100vw;
        height: 100vw;
        background-image: url('headphones_hero_1.jpg');
        background-position: bottom;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    margin: 0;
    
}


#button_container {
    display: flex;
    justify-content: center;
}

#button_container button {
    background-color: #FF6565;
    color: #FFFFFF;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

.header-content {
    margin-bottom: 150px;
    color: #FFFFFF;
    text-align: center;
}
