
body{
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    color: #222;
}

main {
   display: flex;
   flex-direction: row;
   flex: auto;
}

article {
    flex: 2;
    background: #ffffff;
    padding: 15px;
    border: 1px solid;
    overflow-y: auto;

}


aside {
    flex: 1;
    overflow-y: auto;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    }

header ul {
display: flex;
gap: 15px;
list-style: none;
padding: 0;
margin: 0;
}

header a {
text-decoration: none;
color: #0055aa;
}

.logo {
font-size: 24px;
font-weight: bold;
color: #0055aa;
}

footer {
text-align: center;
padding: 10px;
background: #ffffff;
border-top: 1px solid #ccc;
font-size: 14px;
}

